h1 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #5CD053;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

tr {
    width:750px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
td{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
label {
    color: #555555;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.input{
    height:15px; 
    width:150px; 
    padding:5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

.submit{
    height:30px; 
    width:285px;
    border:1px solid;
    font-size: 15px;
    border-color: #5CD053;
    border-radius: 2px;
    background-color:#5CD053;
}